<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <!-- Bootstrap CSS -->
  <link href="/static/css/bootstrap/bootstrap.min.css" rel="stylesheet">
  <link href="/static/css/main.css" rel="stylesheet">
  <style>
    /* Add some custom styles if needed */
    body {
      background-color: #f8f9fa;
      padding-top: 200px;
    }
    .login-form {
      max-width: 400px;
      margin: 0 auto;
      padding: 30px;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    }
    .login_label {
      color: black;
    }
    .login_title {
      color: black;
    }
  </style>
</head>
<body>
  {% include 'nav.html' %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="login-form">
          <h2 class="text-center mb-4 login_title">Login</h2>
          <form id="loginForm" method="POST" action="{{ url_for('login_post') }}">
            <div class="mb-3">
              {% if error_message %}
              <div style="color:red;">{{ error_message }}</div>
              {% endif %}
              <label for="username" class="form-label login_label">名稱</label>
              <input type="text" class="form-control" id="username" name="username" placeholder="Enter your username">
            </div>
            <div class="mb-3">
              <label for="password" class="form-label login_label">密碼</label>
              <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password">
            </div>
            <button type="submit" class="btn btn-primary btn-block">登入</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script src="/static/js/log_in.js"></script>
  <!-- Bootstrap JS -->
  <script src="/static/js/bootstrap/bootstrap.bundle.min.js"></script>
</body>
</html>
