<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minecraft Pet Shop</title>
    <link rel="icon" href="/static/img/logo.webp">
</head>
<body>
    <!-- ======= Header ======= -->
    <header id="header" class="header d-flex align-items-center fixed-top">
        <div class="container-fluid d-flex">
            <a href="home.html" class="logo d-flex align-items-center me-auto me-lg-0">
                <!-- Uncomment the line below if you also wish to use an image logo -->
                <img src="/static/img/logo.webp" alt="">
                <i class="bi bi-camera"></i>
                <h1>Minecraft Pet Shop</h1>
            </a>
            <nav id="navbar" class="navbar">
                <div class="navbarLeft">
                    <ul>
                        <li><a href="home.html">Home</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="shop.html">Shop</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="container-fluid right-3">
            <nav id="navbar" class="navbar">
                <div class="navbarRight">
                    <ul>
                        <li><a href="cart.html" class="icon-btn"><i class="cart">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart2" viewBox="0 0 16 16">
                                <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5M3.14 5l1.25 5h8.22l1.25-5zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0m9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0"/>
                            </svg></i> Cart</a></li>
                        <li><a href="log_in.html">login</a></li>
                        <li><a href="sign_up.html">sign up</a></li>
                    </ul>
                </div>
            </nav><!-- .navbar -->
        </div>
    </header><!-- End Header -->
</body>
</html>
